h1 {
  font-size: 4rem;
  font-weight: normal;
  text-shadow: 0px 4px 0px #0000001f;
  margin: 0px;
}

.container {
  display: flex;
  align-items: flex-end;
}

.container .header button {
  display: none;
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 70%;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}

.linkButton {
  min-width: 100px;
  border: 1px;
  cursor: pointer;
}

.linkContainer {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 340px;
    position: sticky;
  }
  .container .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .container .header button {
    width: 32px;
    height: 32px;
    display: inline;
  }
  .navContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    align-items: center;
    align-content: space-around;
    height: 12rem;
    width: 100%;
  }
  .hidden {
    display: none;
  }
}
